[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

[alias]
  co = checkout
  st = status
  ci = commit
  br = branch
  f = fetch
  cp = cherry-pick
  diffs = diff --staged
  logr = log --reverse
  l1 = log -1 -p

[core]
  excludesfile = ~/.gitignore_global
  editor = vim

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
